.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
google-services.json
src/main/res/drawable/medialogoavclub.jpg
src/main/res/drawable/medialogobahn.jpg
src/main/res/drawable/medialogobbc.gif
src/main/res/drawable/medialogodwm2009.jpg
src/main/res/drawable/medialogodwm2014.jpg
src/main/res/drawable/medialogoio9.jpg
src/main/res/drawable/medialogolmmyles.png
src/main/res/drawable/tardis50x50.gif
src/main/res/drawable/tardisdematerializing50x50.gif
src/main/res/drawable/tvstory001.jpg
src/main/res/drawable/tvstory002.jpg
src/main/res/drawable/tvstory003.jpg
src/main/res/drawable/tvstory004.jpg
src/main/res/drawable/tvstory005.jpg
src/main/res/drawable/tvstory006.jpg
src/main/res/drawable/tvstory007.jpg
src/main/res/drawable/tvstory008.jpg
src/main/res/drawable/tvstory009.jpg
src/main/res/drawable/tvstory010.jpg
src/main/res/drawable/tvstory011.jpg
src/main/res/drawable/tvstory012.jpg
src/main/res/drawable/tvstory013.jpg
src/main/res/drawable/tvstory014.jpg
src/main/res/drawable/tvstory015.jpg
src/main/res/drawable/tvstory016.jpg
src/main/res/drawable/tvstory017.jpg
src/main/res/drawable/tvstory018.jpg
src/main/res/drawable/tvstory019.jpg
src/main/res/drawable/tvstory020.jpg
src/main/res/drawable/tvstory021.jpg
src/main/res/drawable/tvstory022.jpg
src/main/res/drawable/tvstory023.jpg
src/main/res/drawable/tvstory024.jpg
src/main/res/drawable/tvstory025.jpg
src/main/res/drawable/tvstory026.jpg
src/main/res/drawable/tvstory027.jpg
src/main/res/drawable/tvstory028.jpg
src/main/res/drawable/tvstory029.jpg
src/main/res/drawable/tvstory030.jpg
src/main/res/drawable/tvstory031.jpg
src/main/res/drawable/tvstory032.jpg
src/main/res/drawable/tvstory033.jpg
src/main/res/drawable/tvstory034.jpg
src/main/res/drawable/tvstory035.jpg
src/main/res/drawable/tvstory036.jpg
src/main/res/drawable/tvstory037.jpg
src/main/res/drawable/tvstory038.jpg
src/main/res/drawable/tvstory039.jpg
src/main/res/drawable/tvstory040.jpg
src/main/res/drawable/tvstory041.jpg
src/main/res/drawable/tvstory042.jpg
src/main/res/drawable/tvstory043.jpg
src/main/res/drawable/tvstory044.jpg
src/main/res/drawable/tvstory045.jpg
src/main/res/drawable/tvstory046.jpg
src/main/res/drawable/tvstory047.jpg
src/main/res/drawable/tvstory048.jpg
src/main/res/drawable/tvstory049.jpg
src/main/res/drawable/tvstory050.jpg
src/main/res/drawable/tvstory051.jpg
src/main/res/drawable/tvstory052.jpg
src/main/res/drawable/tvstory053.jpg
src/main/res/drawable/tvstory054.jpg
src/main/res/drawable/tvstory055.jpg
src/main/res/drawable/tvstory056.jpg
src/main/res/drawable/tvstory057.jpg
src/main/res/drawable/tvstory058.jpg
src/main/res/drawable/tvstory059.jpg
src/main/res/drawable/tvstory060.jpg
src/main/res/drawable/tvstory061.jpg
src/main/res/drawable/tvstory062.jpg
src/main/res/drawable/tvstory063.jpg
src/main/res/drawable/tvstory064.jpg
src/main/res/drawable/tvstory065.jpg
src/main/res/drawable/tvstory066.jpg
src/main/res/drawable/tvstory067.jpg
src/main/res/drawable/tvstory068.jpg
src/main/res/drawable/tvstory069.jpg
src/main/res/drawable/tvstory070.jpg
src/main/res/drawable/tvstory071.jpg
src/main/res/drawable/tvstory072.jpg
src/main/res/drawable/tvstory073.jpg
src/main/res/drawable/tvstory074.jpg
src/main/res/drawable/tvstory075.jpg
src/main/res/drawable/tvstory076.jpg
src/main/res/drawable/tvstory077.jpg
src/main/res/drawable/tvstory078.jpg
src/main/res/drawable/tvstory079.jpg
src/main/res/drawable/tvstory080.jpg
src/main/res/drawable/tvstory081.jpg
src/main/res/drawable/tvstory082.jpg
src/main/res/drawable/tvstory083.jpg
src/main/res/drawable/tvstory084.jpg
src/main/res/drawable/tvstory085.jpg
src/main/res/drawable/tvstory086.jpg
src/main/res/drawable/tvstory087.jpg
src/main/res/drawable/tvstory088.jpg
src/main/res/drawable/tvstory089.jpg
src/main/res/drawable/tvstory090.jpg
src/main/res/drawable/tvstory091.jpg
src/main/res/drawable/tvstory092.jpg
src/main/res/drawable/tvstory093.jpg
src/main/res/drawable/tvstory094.jpg
src/main/res/drawable/tvstory095.jpg
src/main/res/drawable/tvstory096.jpg
src/main/res/drawable/tvstory097.jpg
src/main/res/drawable/tvstory098.jpg
src/main/res/drawable/tvstory099.jpg
src/main/res/drawable/tvstory100.jpg
src/main/res/drawable/tvstory101.jpg
src/main/res/drawable/tvstory102.jpg
src/main/res/drawable/tvstory103.jpg
src/main/res/drawable/tvstory104.jpg
src/main/res/drawable/tvstory105.jpg
src/main/res/drawable/tvstory106.jpg
src/main/res/drawable/tvstory107.jpg
src/main/res/drawable/tvstory108.jpg
src/main/res/drawable/tvstory109.jpg
src/main/res/drawable/tvstory110.jpg
src/main/res/drawable/tvstory111.jpg
src/main/res/drawable/tvstory112.jpg
src/main/res/drawable/tvstory113.jpg
src/main/res/drawable/tvstory114.jpg
src/main/res/drawable/tvstory115.jpg
src/main/res/drawable/tvstory116.jpg
src/main/res/drawable/tvstory117.jpg
src/main/res/drawable/tvstory118.jpg
src/main/res/drawable/tvstory119.jpg
src/main/res/drawable/tvstory120.jpg
src/main/res/drawable/tvstory121.jpg
src/main/res/drawable/tvstory122.jpg
src/main/res/drawable/tvstory123.jpg
src/main/res/drawable/tvstory124.jpg
src/main/res/drawable/tvstory125.jpg
src/main/res/drawable/tvstory126.jpg
src/main/res/drawable/tvstory127.jpg
src/main/res/drawable/tvstory128.jpg
src/main/res/drawable/tvstory129.jpg
src/main/res/drawable/tvstory130.jpg
src/main/res/drawable/tvstory131.jpg
src/main/res/drawable/tvstory132.jpg
src/main/res/drawable/tvstory133.jpg
src/main/res/drawable/tvstory134.jpg
src/main/res/drawable/tvstory135.jpg
src/main/res/drawable/tvstory136.jpg
src/main/res/drawable/tvstory137.jpg
src/main/res/drawable/tvstory138.jpg
src/main/res/drawable/tvstory139.jpg
src/main/res/drawable/tvstory140.jpg
src/main/res/drawable/tvstory141.jpg
src/main/res/drawable/tvstory142.jpg
src/main/res/drawable/tvstory143.jpg
src/main/res/drawable/tvstory144.jpg
src/main/res/drawable/tvstory145.jpg
src/main/res/drawable/tvstory146.jpg
src/main/res/drawable/tvstory147.jpg
src/main/res/drawable/tvstory148.jpg
src/main/res/drawable/tvstory149.jpg
src/main/res/drawable/tvstory150.jpg
src/main/res/drawable/tvstory151.jpg
src/main/res/drawable/tvstory152.jpg
src/main/res/drawable/tvstory153.jpg
src/main/res/drawable/tvstory154.jpg
src/main/res/drawable/tvstory155.jpg
src/main/res/drawable/tvstory156.jpg
src/main/res/drawable/tvstory157.jpg
src/main/res/drawable/tvstory158.jpg
src/main/res/drawable/tvstory159.jpg
src/main/res/drawable/tvstory160.jpg
src/main/res/drawable/tvstory161.jpg
src/main/res/drawable/tvstory162.jpg
src/main/res/drawable/tvstory163.jpg
src/main/res/drawable/tvstory164.jpg
src/main/res/drawable/tvstory165.jpg
src/main/res/drawable/tvstory166.jpg
src/main/res/drawable/tvstory167.jpg
src/main/res/drawable/tvstory168.jpg
src/main/res/drawable/tvstory169.jpg
src/main/res/drawable/tvstory170.jpg
src/main/res/drawable/tvstory171.jpg
src/main/res/drawable/tvstory172.jpg
src/main/res/drawable/tvstory173.jpg
src/main/res/drawable/tvstory174.jpg
src/main/res/drawable/tvstory175.jpg
src/main/res/drawable/tvstory176.jpg
src/main/res/drawable/tvstory177.jpg
src/main/res/drawable/tvstory178.jpg
src/main/res/drawable/tvstory179.jpg
src/main/res/drawable/tvstory180.jpg
src/main/res/drawable/tvstory181.jpg
src/main/res/drawable/tvstory182.jpg
src/main/res/drawable/tvstory183.jpg
src/main/res/drawable/tvstory184.jpg
src/main/res/drawable/tvstory185.jpg
src/main/res/drawable/tvstory186.jpg
src/main/res/drawable/tvstory187.jpg
src/main/res/drawable/tvstory188.jpg
src/main/res/drawable/tvstory189.jpg
src/main/res/drawable/tvstory190.jpg
src/main/res/drawable/tvstory191.jpg
src/main/res/drawable/tvstory192.jpg
src/main/res/drawable/tvstory193.jpg
src/main/res/drawable/tvstory194.jpg
src/main/res/drawable/tvstory195.jpg
src/main/res/drawable/tvstory196.jpg
src/main/res/drawable/tvstory197.jpg
src/main/res/drawable/tvstory198.jpg
src/main/res/drawable/tvstory199.jpg
src/main/res/drawable/tvstory200.jpg
src/main/res/drawable/tvstory201.jpg
src/main/res/drawable/tvstory202.jpg
src/main/res/drawable/tvstory203.jpg
src/main/res/drawable/tvstory204.jpg
src/main/res/drawable/tvstory205.jpg
src/main/res/drawable/tvstory206.jpg
src/main/res/drawable/tvstory207.jpg
src/main/res/drawable/tvstory208.jpg
src/main/res/drawable/tvstory209.jpg
src/main/res/drawable/tvstory210.jpg
src/main/res/drawable/tvstory211.jpg
src/main/res/drawable/tvstory212.jpg
src/main/res/drawable/tvstory213.jpg
src/main/res/drawable/tvstory214.jpg
src/main/res/drawable/tvstory215.jpg
src/main/res/drawable/tvstory216.jpg
src/main/res/drawable/tvstory217.jpg
src/main/res/drawable/tvstory218.jpg
src/main/res/drawable/tvstory219.jpg
src/main/res/drawable/tvstory220.jpg
src/main/res/drawable/tvstory221.jpg
src/main/res/drawable/tvstory222.jpg
src/main/res/drawable/tvstory223.jpg
src/main/res/drawable/tvstory224.jpg
src/main/res/drawable/tvstory225.jpg
src/main/res/drawable/tvstory226.jpg
src/main/res/drawable/tvstory227.jpg
src/main/res/drawable/tvstory228.jpg
src/main/res/drawable/tvstory229.jpg
src/main/res/drawable/tvstory230.jpg
src/main/res/drawable/tvstory231.jpg
src/main/res/drawable/tvstory232.jpg
src/main/res/drawable/tvstory233.jpg
src/main/res/drawable/tvstory234.jpg
src/main/res/drawable/tvstory235.jpg
src/main/res/drawable/tvstory236.jpg
src/main/res/drawable/tvstory237.jpg
src/main/res/drawable/tvstory238.jpg
src/main/res/drawable/tvstory239.jpg
src/main/res/drawable/tvstory240.jpg
src/main/res/drawable/tvstory241.jpg
src/main/res/drawable/tvstory242.jpg
src/main/res/drawable/tvstory243.jpg
src/main/res/drawable/tvstory244.jpg
src/main/res/drawable/tvstory245.jpg
src/main/res/drawable/tvstory246.jpg
src/main/res/drawable/tvstory247.jpg
src/main/res/drawable/tvstory248.jpg
src/main/res/drawable/tvstory249.jpg
src/main/res/drawable/tvstory250.jpg
src/main/res/drawable/tvstory251.jpg
src/main/res/drawable/tvstory252.jpg
src/main/res/drawable/tvstory253.jpg
src/main/res/drawable/tvstory254.jpg
src/main/res/drawable/tvstory255.jpg
src/main/res/drawable/tvstory256.jpg
src/main/res/drawable/tvstory257.jpg
src/main/res/drawable/tvstory258.jpg
src/main/res/drawable/tvstory259.jpg
src/main/res/drawable/tvstory260.jpg
src/main/res/drawable/tvstory261.jpg
src/main/res/drawable/tvstory262.jpg
src/main/res/drawable/tvstory263.jpg
src/main/res/drawable/tvstory264.jpg
src/main/res/drawable/tvstory265.jpg
src/main/res/drawable/tvstory266.jpg
src/main/res/drawable/tvstory267.jpg
src/main/res/drawable/tvstory268.jpg
src/main/res/drawable/tvstory269.jpg
src/main/res/drawable/tvstory270.jpg
src/main/res/drawable/tvstory271.jpg
src/main/res/drawable/tvstory272.jpg
src/main/res/drawable/tvstory273.jpg
src/main/res/drawable/tvstory274.jpg
src/main/res/drawable/tvstory275.jpg
src/main/res/drawable/tvstory276.jpg
src/main/res/drawable/tvstory277.jpg
src/main/res/drawable/tvstory278.jpg
src/main/res/drawable/tvstory279.jpg
src/main/res/drawable/tvstory280.jpg
src/main/res/drawable/tvstory281.jpg
src/main/res/drawable/tvstory282.jpg
src/main/res/drawable/tvstory283.jpg
src/main/res/drawable/tvstory284.jpg
src/main/res/drawable/tvstory285.jpg
src/main/res/drawable/tvstory286.jpg
src/main/res/drawable/tvstory287.jpg
src/main/res/drawable/tvstory288.jpg
src/main/res/drawable/tvstory289.jpg
